.example-container {
     height: 100vh;
     float: left;
 }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    background-color:#673AB7;
  }
  