.example-container {
  height: 100vh;
  float: left;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  color: white;
  width: 10rem;
}

.example-sidenav {
  padding: 20px;
  background-color: #673AB7;
}