<mat-toolbar color="primary">
  <img src="../../../assets/logo.png" class="" width="40px" height="40px">
  <span>BizConnect</span>
  <span class="example-spacer"></span>
  <div>
    <input type="text" *ngIf="isSearchOpen" [class.search-box-open]="isSearchOpen" placeholder="Search here"
      class="poppins-light">
  </div>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    (click)="toggleSearch()">
    <mat-icon>search</mat-icon>
  </button>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>bookmarkadded</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="profileMenu">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #profileMenu="matMenu">
  <button mat-menu-item>My Profile</button>
  <button mat-menu-item>My Business</button>
  <button mat-menu-item>
    Logout
    <mat-icon>logout</mat-icon>
  </button>
</mat-menu>
