<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>BizConnect</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            Login
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            Register
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            Home
        </button>
    </mat-toolbar-row>
</mat-toolbar>