<div class="example-container login-container">
    <h1>Register</h1>

    <form class="example-form" (ngSubmit)="register()">
        <div class="alert alert-warning" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input type="email" matInput [(ngModel)]="firstName" name="firstName" [formControl]="firstNameControl">
                <mat-error *ngIf="firstNameControl.hasError('required')">
                    FirstName is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input type="email" matInput [(ngModel)]="lastName" name="lastName" [formControl]="lastNameControl">
                <mat-error *ngIf="lastNameControl.hasError('required')">
                    LastName is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>City</mat-label>
                <input type="text" placeholder="City" aria-label="Number" matInput [formControl]="cityControl"
                    [matAutocomplete]="auto" [(ngModel)]="city" name="city">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="cityControl.hasError('required')">
                    City is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                    [(ngModel)]="email" name="email">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input [type]="hidePassword ? 'password' : 'text'" matInput [formControl]="passwordFormControl"
                    [errorStateMatcher]="matcher" [(ngModel)]="password" name="password">
                <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordFormControl.hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="passwordFormControl.hasError('minlength')">Password must be at least 8
                    characters</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput
                    [formControl]="confirmPasswordControl" [errorStateMatcher]="matcher" [(ngModel)]="confirmPassword"
                    name="confirmPassword">
                <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="confirmPasswordControl.hasError('required')">Password is
                    required</mat-error>
                <mat-error *ngIf="confirmPasswordControl.hasError('mismatch')">No match with
                    Password</mat-error>
            </mat-form-field>
        </div>
        <div class="text-center">
            <button mat-raised-button color="primary">
                Register
            </button>
            <p class="mt-2">
                <button mat-stroked-button (click)="navigateToHome()">Continue as guest</button>
            </p>


            <p class="m-2">Having an Account ? <button mat-button color="primary" class="anchor-like"
                    (click)="moveToLogin($event)">Login</button></p>

        </div>
        <div>
        </div>
    </form>