<mat-toolbar color="primary">
  <img src="../../../assets/logo.png" class="" width="40px" height="40px">
  <span>BizConnect</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    routerLink="/business" matTooltip="Add New Business">
    <mat-icon>add_business</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    routerLink="mybusiness" matTooltip="My Business">
    <mat-icon>store_front</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    routerLink="" matTooltip="Swith to Customer">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>