<img src="../../../assets/logo.png" class="logo">
<div class="scale-in">
    <h2>Your Local Business Connection</h2>
    <mat-divider></mat-divider>
    <p>

        Welcome to BizConnect, linking local businesses with customers seamlessly. Discover affordable, high-quality
        solutions nearby. Whether seeking services or starting your online business journey, BizConnect fosters
        community prosperity. Join us today and unlock opportunities, all within arm's reach.
    </p>
    <img src="../../../assets/puzzle.jpg" class="network-img">
</div>