<div class="row">

    <div class="col-lg-4 new-business">
        <h1>MOVE YOUR BUSINESS ONLINE</h1>
    </div>
    <div class="col-lg-8">
        <div class="example-container login-container m-4 p-4"><br><br>
            <form class="example-form" (ngSubmit)="addShop()">

            <div>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Shop Name</mat-label>
                    <input type="text" matInput name="shopName" [(ngModel)]="formData.name">
                </mat-form-field>
            
            <div>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Shop Description</mat-label>
                    <textarea matInput name="shopDescription" rows="5" [(ngModel)]="formData.description"></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Address Lane 1</mat-label>
                    <input type="text" matInput name="addressLane1" [(ngModel)]="formData.addressLane1">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Address Lane 2</mat-label>
                    <input type="text" matInput name="addressLane2" [(ngModel)]="formData.addressLane2">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>City</mat-label>
                    <input type="text" placeholder="City" aria-label="Number" matInput [matAutocomplete]="auto"  
                        [(ngModel)]="formData.city" name="city">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="cityControl.hasError('required')">
                        City is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Category</mat-label>
                    <input type="text" matInput name="category" [(ngModel)]="formData.category">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Sub Category</mat-label>
                    <input type="text" matInput name="subCategory" [(ngModel)]="formData.subcategory">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select name="type" matInput [(ngModel)]="formData.type">
                        <mat-option value="product">Product</mat-option>
                        <mat-option value="service">Service</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="text-center">
                <button mat-raised-button color="primary">
                    Register
                </button>
            </div>
        </div>
        
    </form>
    </div>