<mat-chip-listbox aria-label="Fish selection" class="categories">
    <ng-container *ngFor="let category of categoriesWithSubcategories">
        <mat-chip-option [value]="category" (click)="chipSelected(category.category)">{{ category.category
            }}</mat-chip-option>
    </ng-container>
    <button mat-button color="primary" class="mt-1" (click)="clearFilter()">Clear Filter</button>
</mat-chip-listbox>

<div *ngIf="subCategories.length>0">
    <mat-chip-listbox aria-label="Fish selection" class="sub-categories">
        <ng-container *ngFor="let category of subCategories">
            <mat-chip-option>{{category}}</mat-chip-option>
        </ng-container>
    </mat-chip-listbox>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let i of Business;let index = index">
            <div class="col-lg-4 my-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://images.unsplash.com/photo-1549479732-ee0adb0f5d32?q=80&w=2013&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Card image cap">
                    <div class="card-header">

                        <div>
                            <b>
                                <h4 class="card-title">{{i.name}}</h4>
                            </b>
                            <div class="ratings">

                                <ng-container *ngFor="let star of getStars(i.rating)">
                                    <mat-icon class="star mt-2">{{ star }}</mat-icon>
                                </ng-container>

                                <span>({{i.rating}})</span>
                            </div>


                        </div>

                        <div>
                            <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon"
                                class="heart" matTooltip="Add To Wishlist">
                                <mat-icon>favorite</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-description">
                            <p class="card-text text-small">{{i.description}}</p>
                        </div>
                        <p class="text-muted">{{i.addressLane2 | titlecase}} , {{i.city | titlecase}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <button mat-raised-button color="primary" (click)="navigateToShop(index)">Visit Shop</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>