<div class="categories-container">
    <mat-chip-listbox aria-label="Fish selection" class="categories fade-in">
        <ng-container *ngFor="let category of categoriesWithSubcategories">
            <mat-chip-option [value]="category" (click)="categoryFilter(category.category)">{{ category.category
                }}</mat-chip-option>
        </ng-container>
        <button mat-button color="primary" class="mt-1" (click)="clearFilter()">Clear Filter</button>
    </mat-chip-listbox>

    <div *ngIf="subCategories.length>0">
        <mat-chip-listbox aria-label="Fish selection" class="sub-categories">
            <ng-container *ngFor="let category of subCategories">
                <mat-chip-option [value]="category" (click)="subCategoryFilter(category)">{{category}}</mat-chip-option>
            </ng-container>
        </mat-chip-listbox>
    </div>
</div>


<div class="container card-container">
    <div *ngIf="Business?.length">
        <div class="row fade-in">
            <ng-container *ngFor="let i of Business">
                <div class="col-lg-4 my-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" [src]="i.src || '../../../assets/shops/shop.jpg'"
                            alt="Card image cap">
                        <div class="card-header">
                            <div>
                                <b>
                                    <h4 class="card-title">{{i.name}}</h4>
                                </b>
                                <div class="ratings">
                                    <ng-container *ngFor="let star of getStars(i.rating)">
                                        <mat-icon class="star mt-2">{{ star }}</mat-icon>
                                    </ng-container>
                                    <span>({{i.rating}})</span>
                                </div>
                            </div>
                            <div>
                                <button mat-mini-fab color="warn" (click)="addToWishlist(i.id)"
                                    class="heart" matTooltip="Add To Wishlist">
                                    <mat-icon>favorite</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-description">
                                <p class="card-text text-small">{{i.description}}</p>
                            </div>
                            <p class="text-muted">{{i.addressLane2 | titlecase}} , {{i.city | titlecase}}</p>
                        </div>
                        <div class="card-footer text-center">
                            <div matRipple [matRippleColor]="myColor">
                                <button mat-raised-button color="primary" (click)="navigateToShop(i.id)">Visit
                                    Shop</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngIf="!Business?.length" class="fade-in d-flex justify-content-center p-4 card-container">
        <h1>NO MATCH FOR SELECTED FILTER</h1>

    </div>
</div>