<app-navbar></app-navbar>
<h1>My Wishlist</h1>
<div class="container card-container">

    <div *ngIf="myWishlist?.length">
        <div class="row fade-in">
            <ng-container *ngFor="let i of myWishlist">
                <div class="col-lg-4 my-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" [src]="i.src || '../../../assets/shops/shop.jpg'"
                            alt="Card image cap">
                        <div class="card-header">
                            <div>
                                <b>
                                    <h4 class="card-title">{{i.name}}</h4>
                                </b>
                                <div class="ratings">
                                    <ng-container *ngFor="let star of getStars(i.rating)">
                                        <mat-icon class="star mt-2">{{ star }}</mat-icon>
                                    </ng-container>
                                    <span>({{i.rating}})</span>
                                </div>
                            </div>
                            <div>
                                <button mat-mini-fab color="warn" (click)="removeWishlist(i.id)"
                                    class="heart" matTooltip="Remove from Wishlist">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-description">
                                <p class="card-text text-small">{{i.description}}</p>
                            </div>
                            <p class="text-muted">{{i.addressLane2 | titlecase}} , {{i.city | titlecase}}</p>
                        </div>
                        <div class="card-footer text-center">
                            <div matRipple [matRippleColor]="myColor">
                                <button mat-raised-button color="primary" (click)="navigateToShop(i.id)">Visit
                                    Shop</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngIf="!myWishlist?.length">
        <div class="container text-center p-2 m-2 mt-4 fade-in">
            <h1>YOUR WISHLIST IS EMPTY</h1>
            <button mat-raised-button color="primary" (click)="navigateToHome()">shop now</button>
        </div>
    </div>
   
</div>