html,
body {
    height: 100%;
}

.row {
    width: 100%;
}

.col-lg-5,
.col-lg-7 {
    height: 100vh;
}

.logo {
    width: 100px;
    height: 100px;
}

.about-section {
    background-color: #673AB7;
    color: white;
}

.about-section div {
    margin: 1rem;
    margin-top: 1.5rem;
}

.about-section p {
    text-align: justify;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    word-spacing: 1px;
}

.network-img {
    width: 28rem;
    height: 12rem;
    margin-top: 1.5rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.example-container mat-form-field,
.login-button {
    width: 300px;
    margin: 0.5rem;
}

.example-container mat-error {
    width: 300px;
}

mat-toolbar {
    position: fixed;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}