html,
body {
    height: 100%;
}

.example-spacer {
    flex: 1 1 auto;
}

/* .col-lg-5,
.col-lg-7 {
    height: 100vh;
} */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example-container mat-form-field,
.login-button {
    width: 300px;
    margin: 0.5rem;
}

.example-container mat-error {
    width: 300px;
}

mat-toolbar {
    position: fixed;
}