@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

html,
body {
    height: 100%;
}

.row {
    width: 100%;
}

.col-lg-5,
.col-lg-7 {
    height: 100vh;
}

.logo {
    width: 100px;
    height: 100px;
}

.about-section {
    background-color: #673AB7;
    color: white;
}

.about-section div {
    margin: 1rem;
    margin-top: 1.5rem;
}

.about-section p {
    text-align: justify;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    word-spacing: 1px;
}

.network-img {
    width: 28rem;
    height: 12rem;
    margin-top: 1.5rem;
}

.slide-in-left {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeftAnimation 1s ease-in forwards;
}

@keyframes slideInLeftAnimation {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.scale-in {
    opacity: 0;
    transform: scale(0.5);
    animation: scaleInAnimation 1s ease-in forwards;
}

@keyframes scaleInAnimation {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.fade-in {
    opacity: 0;
    /* Start with transparency */
    animation: fadeInAnimation 1s ease-in forwards;
    /* Apply animation */
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        /* Start with transparency */
    }

    to {
        opacity: 1;
        /* Fade in to fully opaque */
    }
}

.fade-in-top {
    opacity: 0;
    transform: translateY(-100%);
    animation: fadeInTopAnimation 1s ease-in forwards;
}

@keyframes fadeInTopAnimation {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.example-container mat-form-field,
.login-button {
    width: 300px;
    margin: 0.5rem;
}

.example-container mat-error {
    width: 300px;
}

/* mat-toolbar {
    position: fixed;
} */

.example-spacer {
    flex: 1 1 auto;
}
.categories,.sub-categories{
    /* position: relative;
    top: 80px; */
    display: flex;
    justify-content: center;
    padding: 1rem 2rem; 
    background-color:whitesmoke;
    margin: 0;
    flex-wrap: nowrap;
}

